In [48]:
import pandas as pd

In [49]:
## my_data.csv 불러오기

csv_data = 'my_data.csv'
df = pd.read_csv('../my_data.csv')

print(df)

   Unnamed: 0     name  age  salary
0           0    Alice   25   50000
1           1      Bob   30   60000
2           2  Charlie   35   70000
3           3    james   30  400000
4           4    Alice   25   50000
5           5      Bob   30   60000
6           6  Charlie   35   70000
7           7    james   30  400000

In [50]:
## unnamed 칼럼명 바꾸기

df.columns = ['delete', 'name', 'age', 'salary']

print(df)

   delete     name  age  salary
0       0    Alice   25   50000
1       1      Bob   30   60000
2       2  Charlie   35   70000
3       3    james   30  400000
4       4    Alice   25   50000
5       5      Bob   30   60000
6       6  Charlie   35   70000
7       7    james   30  400000

In [51]:
## delete 열 삭제하기

df=df.drop('delete', axis=1)

print(df)

      name  age  salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    james   30  400000
4    Alice   25   50000
5      Bob   30   60000
6  Charlie   35   70000
7    james   30  400000

In [58]:
## index열 삭제하기

df_string = df.to_string(index=False)

print(df_string)

   name  age  salary
  Alice   25   50000
    Bob   30   60000
Charlie   35   70000
  james   30  400000
  Alice   25   50000
    Bob   30   60000
Charlie   35   70000
  james   30  400000

In [61]:
## name열의 데이터 값을 한글로 바꾸기
name_korean = {
    'Alice' : '앨리스',
    'Bob' : '밥',
    'Charlie': '찰리',
    'james': '제임스',
}

df['name'] = df['name'].replace(name_korean)

print(df)

  name  age  salary
0  앨리스   25   50000
1    밥   30   60000
2   찰리   35   70000
3  제임스   30  400000
4  앨리스   25   50000
5    밥   30   60000
6   찰리   35   70000
7  제임스   30  400000

In [63]:
## ₩단위로 고치기

def korean_won(number):
    return '{:,.0f}'.format(number)

df['salary'] = df['salary'].apply(korean_won)

print(df)

  name  age   salary
0  앨리스   25   50,000
1    밥   30   60,000
2   찰리   35   70,000
3  제임스   30  400,000
4  앨리스   25   50,000
5    밥   30   60,000
6   찰리   35   70,000
7  제임스   30  400,000

In [64]:

df_string = df.to_string(index=False)

print(df_string)

name  age  salary
 앨리스   25  50,000
   밥   30  60,000
  찰리   35  70,000
 제임스   30 400,000
 앨리스   25  50,000
   밥   30  60,000
  찰리   35  70,000
 제임스   30 400,000

In [ ]:
## csv파일로 저장하기
df.to_csv('my_data_out.csv', index=False)