In [3]:
# for 기본형식
'''
for 변수 in 리스트, 튜플, 문자열 :
    실행명령문
'''
for i in [1,2,3,4]:
    print(i)

room = [101, 102, 103, 104, 105, 201, 202, 203, 204, 205]
for i in room :
    print("{}호가 배정 되었습니다.".format(i))

1
2
3
4
101호가 배정 되었습니다.
102호가 배정 되었습니다.
103호가 배정 되었습니다.
104호가 배정 되었습니다.
105호가 배정 되었습니다.
201호가 배정 되었습니다.
202호가 배정 되었습니다.
203호가 배정 되었습니다.
204호가 배정 되었습니다.
205호가 배정 되었습니다.

In [5]:
# for range
for room in range(100,111) : ## 100이상 111미만(100-110)
    print("%d호가 배정되었습니다."%room)

print("\n")
for room in range(100,111,2) : ## 2씩 간격을 두고
    print("%d호가 배정되었습니다."%room)

100호가 배정되었습니다.
101호가 배정되었습니다.
102호가 배정되었습니다.
103호가 배정되었습니다.
104호가 배정되었습니다.
105호가 배정되었습니다.
106호가 배정되었습니다.
107호가 배정되었습니다.
108호가 배정되었습니다.
109호가 배정되었습니다.
110호가 배정되었습니다.


100호가 배정되었습니다.
102호가 배정되었습니다.
104호가 배정되었습니다.
106호가 배정되었습니다.
108호가 배정되었습니다.
110호가 배정되었습니다.

In [6]:
# for if
score = [90, 20, 60, 70, 100, 40]
num = 0
for sco in score :
    num += 1
    if sco == 100 :
        print("{}번 시험자는 100점으로 합격하였습니다. 장학생 대상자 입니다.".format(num))
    elif sco >= 60 :
        print("{}번 시험자는 합격입니다. 축하합니다.".format(num))
    else :
        print("{}번 시험자는 불합격 입니다.".format(num))

1번 시험자는 합격입니다. 축하합니다.
2번 시험자는 불합격 입니다.
3번 시험자는 합격입니다. 축하합니다.
4번 시험자는 합격입니다. 축하합니다.
5번 시험자는 100점으로 합격하였습니다. 장학생 대상자 입니다.
6번 시험자는 불합격 입니다.

In [7]:
# 이중 포문

for i in range(1,5) :
    for j in range(1,5) :
        print(" i:{}, j:{}".format(i,j))

 i:1, j:1
 i:1, j:2
 i:1, j:3
 i:1, j:4
 i:2, j:1
 i:2, j:2
 i:2, j:3
 i:2, j:4
 i:3, j:1
 i:3, j:2
 i:3, j:3
 i:3, j:4
 i:4, j:1
 i:4, j:2
 i:4, j:3
 i:4, j:4

In [9]:
# 구구단
for i in range(1,10) :
    for j in range(1,10):
        print(" {} * {} = {} ".format(i,j, i*j))

 1 * 1 = 1
 1 * 2 = 2
 1 * 3 = 3
 1 * 4 = 4
 1 * 5 = 5
 1 * 6 = 6
 1 * 7 = 7
 1 * 8 = 8
 1 * 9 = 9
 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27
 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72
 9 * 1 = 9
 9 * 2 = 18
 9 * 3 = 27
 9 * 4 = 36
 9 * 5 = 45
 9 * 6 = 54
 9 * 7 = 63
 9 * 8 = 72
 9 * 9 = 81